<h1>This links are partials in Rails</h1>

<%= link_to 'About Us ',about_path, target: '_blank', style: 'color:red'%>  <br>
<%= link_to 'Contact Us ',contact_path, target: '_blank',  style: 'color:red'%>  <br>
<%= link_to 'Privacy Policy',privacy_policy_path, target: '_blank', style: 'color:red' %>  <br>
<%= link_to 'Terms and Conditions',praveentc_path, target: '_blank', style: 'color:red' %>  <br>
