<div class="col-lg-10 mx-auto">
    <h1 class="text-center mt-5 mb-4">Contact US WebKorps</h1>
        <%= render 'shared/dummy_content'%>
        
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Comments</label>
        </div>
        <%= render 'shared/footer'%>

</div>
